.task__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  padding: 23px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  .checkbox {
    margin-right: 10px;
  }

  .taskName {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
    color: #071d55;
  }

  .edit__button {
    padding: 12px;
  }

  .completed {
    text-decoration: line-through;
    color: #8d8d8d;
  }
}
